---
title: 'Green Group | PPC: Start advertiser verification?'
url: https://basecamp.com/2325709/projects/19130411/messages/106217417
author: Unknown
date: Unknown
type: basecamp-export
---

# Green Group | PPC: Start advertiser verification?

# [Green Group | PPC](/2325709/projects/19130411)

Green Group | PPC: Start advertiser verification?

# just moved this page.

See it in its new location →

# just copied this page.

[Go back to the original](#)
or See it in its new location →

The client can’t see anything on this page

#### Are you sure you want to show this message and its comments to the client?

They’ll be able to see any comments that have been made so far and add their own.

# Message

Project: [Green Group | PPC](/2325709/projects/19130411)

### Start advertiser verification?

Posted by Francisco Freyre on Nov 14, 2023

[![Francisco Freyre](https://asset1.basecamp.com/2325709/people/18046896/photo/avatar.96.gif "Francisco Freyre")](/2325709/people/18046896)

Hello,   
  
I received this email from Google Ads making reference to our client's account:   
  
**Start advertiser verification now to keep your ads running**  
This is the link to where it says "Start Verificaction"  
[https://notifications.google.com/g/p/ANiao5qE\_66W4QZ7bqDkWngdWKuvCMvgjS5wIS…](https://notifications.google.com/g/p/ANiao5qE_66W4QZ7bqDkWngdWKuvCMvgjS5wISVTIvFMlLHLIAA46k5VH698fHIbLCmK1PxBMdznBKmcZojd0Cx3hqJmZgt7P3104hTcv52d0fWwGTRrqVUD1zEkGQ9_QTy-FCFe8bi7Bg0O4aKMN5IQ6bZfxsDH5YXswT73zLFfgT185X702p31wvg5gLGJu_FE-DYVe_aD6VWsfTXvE_LBB7j3O12Nxel9kEfstKtwWV7fvToZhUk9CDEaZIypd9DWr89orH9Lz9y1tlaygZb63te8XyoZSMy3kNi8J3UYuss-qACActI62BZhTpKH2kQUZyMZu10QhlDJ97L-0ZdGreElorw485aeNOY-x7xuYaELlgPohfs5Gd8t4njdI2JEH5e7PIS1ElbLeg "https://notifications.google.com/g/p/ANiao5qE_66W4QZ7bqDkWngdWKuvCMvgjS5wISVTIvFMlLHLIAA46k5VH698fHIbLCmK1PxBMdznBKmcZojd0Cx3hqJmZgt7P3104hTcv52d0fWwGTRrqVUD1zEkGQ9_QTy-FCFe8bi7Bg0O4aKMN5IQ6bZfxsDH5YXswT73zLFfgT185X702p31wvg5gLGJu_FE-DYVe_aD6VWsfTXvE_LBB7j3O12Nxel9kEfstKtwWV7fvToZhUk9CDEaZIypd9DWr89orH9Lz9y1tlaygZb63te8XyoZSMy3kNi8J3UYuss-qACActI62BZhTpKH2kQUZyMZu10QhlDJ97L-0ZdGreElorw485aeNOY-x7xuYaELlgPohfs5Gd8t4njdI2JEH5e7PIS1ElbLeg")  
  
Is this something we have to do?  
Any risk to the campaign?  
  
Thanks and regards

[![](https://asset1.basecamp.com/2325709/projects/19130411/attachments/486639099/1e107e92-82fd-11ee-83ba-5254009c5706/thumbnail.png)


Screenshot 2023-11-14 at 9.49.19 AM.png

Project: Green Group | PPC

Added by Francisco F. on Nov 14, 2023
 · 

210 KB](https://asset1.basecamp.com/2325709/projects/19130411/attachments/486639099/Screenshot%202023-11-14%20at%209.49.19%E2%80%AFAM.png)

[4 comments](/2325709/projects/19130411/messages/106217417)

[Label...](#)

Nov 14, 2023

210 KB

Francisco F.

#### Discuss this message

[![Yigit Gok](https://asset1.basecamp.com/2325709/people/17588445/photo/avatar.96.gif "Yigit Gok")](/2325709/people/17588445)

**Yigit Gok**   
Hi Francisco,  
  
Can you help us with the verification? You might need some documents from the client.  
  
On order to finish the verification, please go to Google Ads - Tools & Settings - Billing - Advertiser Verification.  
  
Thanks for your help.  
  
All the best,  
Yigit

[Posted on Nov 14, 2023](/2325709/projects/19130411/messages/106217417#comment_912524840)

[![Francisco Freyre](https://asset1.basecamp.com/2325709/people/18046896/photo/avatar.96.gif "Francisco Freyre")](/2325709/people/18046896)

**Francisco Freyre**   
Thank you,   
Do I have to do the verification as if I'm the client or as an advertiser?  
Regards

[Posted on Nov 14, 2023](/2325709/projects/19130411/messages/106217417#comment_912525181)

[![Yigit Gok](https://asset1.basecamp.com/2325709/people/17588445/photo/avatar.96.gif "Yigit Gok")](/2325709/people/17588445)

**Yigit Gok**   
Please do it as if you were the client if you can. If not, advertiser works too

[Posted on Nov 14, 2023](/2325709/projects/19130411/messages/106217417#comment_912525684)

[![Francisco Freyre](https://asset1.basecamp.com/2325709/people/18046896/photo/avatar.96.gif "Francisco Freyre")](/2325709/people/18046896)

**Francisco Freyre**   
Okay, thanks a lot.  
I have made the verification and they will responde in 3 - 5 days.  
  
Regards

[Posted on Nov 14, 2023](/2325709/projects/19130411/messages/106217417#comment_912534651)

![](https://asset1.basecamp.com/people/19154717/photo/avatar.96.gif "Mirak Ozoglu")

Add a comment or upload a file…

[By-the-minute history for this message...](#)

---

## Comments

4 comments