---
title: 'TheHubAutomotive | PPC: Google Ads Advertiser Verification'
url: https://basecamp.com/2325709/projects/19802683/todos/502926660
author: Unknown
date: Unknown
type: basecamp-export
---

# TheHubAutomotive | PPC: Google Ads Advertiser Verification

# [TheHubAutomotive | PPC](/2325709/projects/19802683)

TheHubAutomotive | PPC: Google Ads Advertiser Verification

# just moved this page.

See it in its new location →

# just copied this page.

[Go back to the original](#)
or See it in its new location →

# To-do item

Project: [TheHubAutomotive | PPC](/2325709/projects/19802683)

From the to-do list:
[Setup Phase](/2325709/projects/19802683/todolists/70625239)

* [Google Ads Advertiser Verification](/2325709/projects/19802683/todos/502926660)
  Google Ads Advertiser Verification

  [3 comments](/2325709/projects/19802683/todos/502926660)

  (Completed by Can Basaloglu on 19 Dec)

#### Discuss this to-do

[![Can Basaloglu](https://asset1.basecamp.com/2325709/people/18232741/photo/avatar.96.gif "Can Basaloglu")](/2325709/people/18232741)

**Can Basaloglu**   
Hi Kevin,  
  
Could you please complete the advertiser verification? The organization verification part is still incomplete.  
  
Thanks!

[Posted on Dec 18, 2024](/2325709/projects/19802683/todos/502926660#comment_942794528)

[![](https://asset1.basecamp.com/2325709/projects/19802683/attachments/504419693/f71a398a-bd49-11ef-ab14-0242ac110005/thumbnail.png)


Screenshot\_8.png

Project: TheHubAutomotive | PPC

Added by Can B. on Dec 18, 2024
 · 

33 KB](https://asset1.basecamp.com/2325709/projects/19802683/attachments/504419693/Screenshot_8.png)

[3 comments](/2325709/projects/19802683/todos/502926660)

[Label...](#)

Dec 18, 2024

33 KB

Can B.

[![Kevin Henderson](https://asset1.basecamp.com/2325709/people/19007196/photo/avatar.96.gif "Kevin Henderson")](/2325709/people/19007196)

**Kevin Henderson**   
Yes, ill get this done asap.

[Posted on Dec 18, 2024](/2325709/projects/19802683/todos/502926660#comment_942799289)

[![Kevin Henderson](https://asset1.basecamp.com/2325709/people/19007196/photo/avatar.96.gif "Kevin Henderson")](/2325709/people/19007196)

**Kevin Henderson**   
Verification complete.

[Posted on Dec 19, 2024](/2325709/projects/19802683/todos/502926660#comment_942850944)

[![Can Basaloglu](https://asset1.basecamp.com/2325709/people/18232741/photo/avatar.96.gif "Can Basaloglu")](/2325709/people/18232741)

**Can Basaloglu** completed the to-do

on Dec 19, 2024

![](https://asset1.basecamp.com/people/19154717/photo/avatar.96.gif "Mirak Ozoglu")

Add a comment or upload a file…

[By-the-minute history for this to-do...](#)

[Delete…](#)

[Delete this to-do?](/2325709/projects/19802683/todos/502926660/trash)
[Never mind](#)

---

## Comments

[3 comments](/2325709/projects/19802683/todos/502926660)