---
title: 'Jewish Family Services Rochester | PPC: Advertiser Verification'
url: https://basecamp.com/2325709/projects/19703635/messages/109083869
author: Unknown
date: Unknown
type: basecamp-export
---

# Jewish Family Services Rochester | PPC: Advertiser Verification

# [Jewish Family Services Rochester | PPC](/2325709/projects/19703635)

Jewish Family Services Rochester | PPC: Advertiser Verification

# just moved this page.

See it in its new location →

# just copied this page.

[Go back to the original](#)
or See it in its new location →

The client can’t see anything on this page

#### Are you sure you want to show this message and its comments to the client?

They’ll be able to see any comments that have been made so far and add their own.

# Message

Project: [Jewish Family Services Rochester | PPC](/2325709/projects/19703635)

### Advertiser Verification

Posted by Yeliz Kolasinli on Nov 18, 2024

[![Yeliz Kolasinli](https://asset1.basecamp.com/2325709/people/18747394/photo/avatar.96.gif "Yeliz Kolasinli")](/2325709/people/18747394)

Hi Mike,  
  

Advertiser verification needs to be completed by 12/17/2024 to keep running ads. Can you help us with advertiser verification? You or the Client needs to go to Billing > Advertiser Verification page, start verification, and fill out the form.

Let us know if you need anything.

Best,

Yeliz

[![](https://asset1.basecamp.com/2325709/projects/19703635/attachments/503199944/2a7f2378-a592-11ef-9c49-0242ac110005/thumbnail.png)


Screenshot\_1.png

Project: Jewish Family Services Rochester | PPC

Added by Yeliz K. on Nov 18, 2024
 · 

47 KB](https://asset1.basecamp.com/2325709/projects/19703635/attachments/503199944/Screenshot_1.png)

[3 comments](/2325709/projects/19703635/messages/109083869)

[Label...](#)

Nov 18, 2024

47 KB

Yeliz K.

#### Discuss this message

[![Mike Thomas](https://asset1.basecamp.com/2325709/people/18689706/photo/avatar.96.gif "Mike Thomas")](/2325709/people/18689706)

**Mike Thomas**   
Hey confirming this is all good?

[Posted on Dec 4, 2024](/2325709/projects/19703635/messages/109083869#comment_941834491)

[![Yeliz Kolasinli](https://asset1.basecamp.com/2325709/people/18747394/photo/avatar.96.gif "Yeliz Kolasinli")](/2325709/people/18747394)

**Yeliz Kolasinli**   
Hey Mike,  
  
There is one more step for advertiser verification. We've also sent the instructions via email.  
  
[https://pay.google.com/gp/w/u/1/home/redirect?epcp=AIHI9QlTm1jh/uXMEbK6gqO0…](https://pay.google.com/gp/w/u/1/home/redirect?epcp=AIHI9QlTm1jh/uXMEbK6gqO0DyHqiFWl5C86c223O6ZW/XgEL13ObszzmYi1vk9r/yI%3D&fft=WzUsIkFMRlRXczJFaXVsQi9BMktncWZ5OVNSbU5TcXdwUWJVVjVoUWtUa0VsemNDSDN0aFJPSlM4S2NJTnlmNmNDN0ZscE1aOC9WSHRzaS9PaHBJRDBVaW1VanRvaTAwS1dYUTFnXHUwMDNkXHUwMDNkIl0%3D "https://pay.google.com/gp/w/u/1/home/redirect?epcp=AIHI9QlTm1jh/uXMEbK6gqO0DyHqiFWl5C86c223O6ZW/XgEL13ObszzmYi1vk9r/yI%3D&fft=WzUsIkFMRlRXczJFaXVsQi9BMktncWZ5OVNSbU5TcXdwUWJVVjVoUWtUa0VsemNDSDN0aFJPSlM4S2NJTnlmNmNDN0ZscE1aOC9WSHRzaS9PaHBJRDBVaW1VanRvaTAwS1dYUTFnXHUwMDNkXHUwMDNkIl0%3D")  
  
Please see the attached screenshot.  
  
All the best,  
Yeliz

[Posted on Dec 4, 2024](/2325709/projects/19703635/messages/109083869#comment_941837788)

[![](https://asset1.basecamp.com/2325709/projects/19703635/attachments/503846543/04fcd670-b250-11ef-b564-0242ac110005/thumbnail.png)


Screenshot\_4.png

Project: Jewish Family Services Rochester | PPC

Added by Yeliz K. on Dec 4, 2024
 · 

28 KB](https://asset1.basecamp.com/2325709/projects/19703635/attachments/503846543/Screenshot_4.png)

[3 comments](/2325709/projects/19703635/messages/109083869)

[Label...](#)

Dec 4, 2024

28 KB

Yeliz K.

[![Mike Thomas](https://asset1.basecamp.com/2325709/people/18689706/photo/avatar.96.gif "Mike Thomas")](/2325709/people/18689706)

**Mike Thomas**   
This is now under review. Thank you!

[Posted on Dec 6, 2024](/2325709/projects/19703635/messages/109083869#comment_941977307)

![](https://asset1.basecamp.com/people/19154717/photo/avatar.96.gif "Mirak Ozoglu")

Add a comment or upload a file…

[By-the-minute history for this message...](#)

---

## Comments

3 comments